# 清洗数据

In [3]:
import pandas as pd
# DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False) 删除空字段

## 清洗空值

In [9]:
df = pd.read_csv('property-data.csv')
print(df['NUM_BEDROOMS'],"\n")
print(df['NUM_BEDROOMS'].isnull())

0      3
1      3
2    NaN
3      1
4      3
5    NaN
6      2
7      1
8     na
Name: NUM_BEDROOMS, dtype: object

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
Name: NUM_BEDROOMS, dtype: bool

In [14]:
# 以上把n/a和NA当作空，但是na没有，不符要求，可以指定数据类型
missing_values = ['na', 'n/a', '--']
df = pd.read_csv('property-data.csv', na_values = missing_values)
print(df['NUM_BEDROOMS'],"\n")
print(df['NUM_BEDROOMS'].isnull())

0    3.0
1    3.0
2    NaN
3    1.0
4    3.0
5    NaN
6    2.0
7    1.0
8    NaN
Name: NUM_BEDROOMS, dtype: float64

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8     True
Name: NUM_BEDROOMS, dtype: bool

In [20]:
# 删除空数据的行
df = pd.read_csv('property-data.csv')
new_df = df.dropna() # 要修改原数据，则参数inplace=True
print(new_df.to_string())

           PID  ST_NUM    ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0     PUTNAM            Y            3        1  1000
1  100002000.0   197.0  LEXINGTON            N            3      1.5    --
8  100009000.0   215.0    TREMONT            Y           na        2  1800

In [26]:
# 删除指定列有空值的行
df.dropna(subset = ['ST_NUM'], inplace=True)
print(df.to_string())

           PID  ST_NUM    ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0     PUTNAM            Y            3        1  1000
1  100002000.0   197.0  LEXINGTON            N            3      1.5    --
3  100004000.0   201.0   BERKELEY           12            1      NaN   700
4          NaN   203.0   BERKELEY            Y            3        2  1600
5  100006000.0   207.0   BERKELEY            Y          NaN        1   800
7  100008000.0   213.0    TREMONT            Y            1        1   NaN
8  100009000.0   215.0    TREMONT            Y           na        2  1800

In [28]:
# fillna()替换空字段
df = pd.read_csv('property-data.csv')
df.fillna(12345, inplace=True)
print(df.to_string())

           PID   ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH  SQ_FT
0  100001000.0    104.0      PUTNAM            Y            3        1   1000
1  100002000.0    197.0   LEXINGTON            N            3      1.5     --
2  100003000.0  12345.0   LEXINGTON            N        12345        1    850
3  100004000.0    201.0    BERKELEY           12            1    12345    700
4      12345.0    203.0    BERKELEY            Y            3        2   1600
5  100006000.0    207.0    BERKELEY            Y        12345        1    800
6  100007000.0  12345.0  WASHINGTON        12345            2   HURLEY    950
7  100008000.0    213.0     TREMONT            Y            1        1  12345
8  100009000.0    215.0     TREMONT            Y           na        2   1800

In [32]:
# 指定某列替换空字段
df = pd.read_csv('property-data.csv')
df['PID'].fillna(12345, inplace=True)
print(df.to_string())

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3        1  1000
1  100002000.0   197.0   LEXINGTON            N            3      1.5    --
2  100003000.0     NaN   LEXINGTON            N          NaN        1   850
3  100004000.0   201.0    BERKELEY           12            1      NaN   700
4      12345.0   203.0    BERKELEY            Y            3        2  1600
5  100006000.0   207.0    BERKELEY            Y          NaN        1   800
6  100007000.0     NaN  WASHINGTON          NaN            2   HURLEY   950
7  100008000.0   213.0     TREMONT            Y            1        1   NaN
8  100009000.0   215.0     TREMONT            Y           na        2  1800

C:\Users\l22400166\AppData\Local\Temp\ipykernel_508\3133968139.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PID'].fillna(12345, inplace=True)

In [40]:
# 常用平均数、中位数、众数填补空值
df = pd.read_csv('property-data.csv')
x = df['ST_NUM'].mean() # 平均数
df['ST_NUM'].fillna(x, inplace=True)
print(df.to_string())

           PID      ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0  104.000000      PUTNAM            Y            3        1  1000
1  100002000.0  197.000000   LEXINGTON            N            3      1.5    --
2  100003000.0  191.428571   LEXINGTON            N          NaN        1   850
3  100004000.0  201.000000    BERKELEY           12            1      NaN   700
4          NaN  203.000000    BERKELEY            Y            3        2  1600
5  100006000.0  207.000000    BERKELEY            Y          NaN        1   800
6  100007000.0  191.428571  WASHINGTON          NaN            2   HURLEY   950
7  100008000.0  213.000000     TREMONT            Y            1        1   NaN
8  100009000.0  215.000000     TREMONT            Y           na        2  1800

C:\Users\l22400166\AppData\Local\Temp\ipykernel_508\4203175972.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ST_NUM'].fillna(x, inplace=True)

In [46]:
df = pd.read_csv('property-data.csv')
x = df['ST_NUM'].median() # 中位数
df['ST_NUM'].fillna(x, inplace=True)
print(df.to_string())

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3        1  1000
1  100002000.0   197.0   LEXINGTON            N            3      1.5    --
2  100003000.0   203.0   LEXINGTON            N          NaN        1   850
3  100004000.0   201.0    BERKELEY           12            1      NaN   700
4          NaN   203.0    BERKELEY            Y            3        2  1600
5  100006000.0   207.0    BERKELEY            Y          NaN        1   800
6  100007000.0   203.0  WASHINGTON          NaN            2   HURLEY   950
7  100008000.0   213.0     TREMONT            Y            1        1   NaN
8  100009000.0   215.0     TREMONT            Y           na        2  1800

C:\Users\l22400166\AppData\Local\Temp\ipykernel_508\627758711.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ST_NUM'].fillna(x, inplace=True)

In [48]:
df = pd.read_csv('property-data.csv')
x = df['ST_NUM'].mode() # 众数
df['ST_NUM'].fillna(x, inplace=True)
print(df.to_string())

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3        1  1000
1  100002000.0   197.0   LEXINGTON            N            3      1.5    --
2  100003000.0   201.0   LEXINGTON            N          NaN        1   850
3  100004000.0   201.0    BERKELEY           12            1      NaN   700
4          NaN   203.0    BERKELEY            Y            3        2  1600
5  100006000.0   207.0    BERKELEY            Y          NaN        1   800
6  100007000.0   215.0  WASHINGTON          NaN            2   HURLEY   950
7  100008000.0   213.0     TREMONT            Y            1        1   NaN
8  100009000.0   215.0     TREMONT            Y           na        2  1800

C:\Users\l22400166\AppData\Local\Temp\ipykernel_508\2881493662.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ST_NUM'].fillna(x, inplace=True)

## 清洗错误数据

In [56]:
data = {
    'Date': ['2020/12/20', '2021/12/21', '20201212'],
    'Duration': [40, 50, 45]
}
df = pd.DataFrame(data, index = ['d1', 'd2', 'd3'])
df['Date'] = pd.to_datetime(df['Date'], format='mixed')
print(df.to_string())

         Date  Duration
d1 2020-12-20        40
d2 2021-12-21        50
d3 2020-12-12        45

In [60]:
person = {
    "name": ['Google', 'Runoob' , 'Taobao'],
    "age": [50, 40, 12345]    # 12345 年龄数据是错误的
}
df = pd.DataFrame(person)
df.loc[2, 'age'] = 30
print(df.to_string())

     name  age
0  Google   50
1  Runoob   40
2  Taobao   30

In [62]:
# 将age大于120的设为120
person = {
    "name": ['Google', 'Runoob' , 'Taobao'],
    "age": [50, 200, 12345]    # 12345 年龄数据是错误的
}
df = pd.DataFrame(person)
for x in df.index:
    if df.loc[x, 'age'] > 120:
        df.loc[x, 'age'] = 120
print(df.to_string())

     name  age
0  Google   50
1  Runoob  120
2  Taobao  120

In [64]:
# 将age大于120的行删除
person = {
    "name": ['Google', 'Runoob' , 'Taobao'],
    "age": [50, 200, 12345]    # 12345 年龄数据是错误的
}
df = pd.DataFrame(person)
for x in df.index:
    if df.loc[x, 'age'] > 120:
        df.drop(x, inplace=True)
print(df.to_string())

     name  age
0  Google   50

## 清洗重复数据

In [69]:
person = {
    "name": ['Google', 'Runoob' , 'Runoob' , 'Taobao'],
    "age": [50, 200, 200, 12345]    
}
df = pd.DataFrame(person)
print(df.duplicated())

0    False
1    False
2     True
3    False
dtype: bool

In [71]:
print(df.to_string(), "\n")
df.drop_duplicates(inplace=True)
print(df.to_string())

     name    age
0  Google     50
1  Runoob    200
2  Runoob    200
3  Taobao  12345

     name    age
0  Google     50
1  Runoob    200
3  Taobao  12345