In [3]:
# dataframe is more like a 2-dimension array
import pandas as pd

In [5]:
data = [['Google', 10], ['Runoob', 12], ['Wiki', 20]]
df = pd.DataFrame(data, columns =['Site', 'Age'])
df

     Site  Age
0  Google   10
1  Runoob   12
2    Wiki   20

In [7]:
# 也能用字典来创建
data = {'Site':['Google', 'Runoob', 'Wiki'], 'Age':[10, 12, 20]}
df = pd.DataFrame(data)
df

     Site  Age
0  Google   10
1  Runoob   12
2    Wiki   20

In [13]:
# 用ndarrays也能创建
import numpy as np
ndarrays_data = np.array([
    ['Google', 10],
    ['Runoob', 12],
    ['Wiki', 20]
])
df = pd.DataFrame(ndarrays_data, columns = ['Site', 'Age'])
df

     Site Age
0  Google  10
1  Runoob  12
2    Wiki  20

In [17]:
# 用loc属性返回特定行的数据
df.loc[0]

Site    Google
Age         10
Name: 0, dtype: object

In [71]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

# 数据载入到 DataFrame 对象
df = pd.DataFrame(data, index=range(1, 4)) # 设置索引，从1开始计数
print(df)
print(df.loc[1]) #返回数据类型其实就是一个series

   calories  duration
1       420        50
2       380        40
3       390        45
calories    420
duration     50
Name: 1, dtype: int64

In [76]:
# 可以返回多行数据
print(df.loc[[1, 2]]) #返回值数据其实就是一个dataframe

   calories  duration
1       420        50
2       380        40

In [80]:
# 通过列表创建
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]],
                  columns=['Column1', 'Column2', 'Column3'])
df

   Column1  Column2  Column3
0        1        2        3
1        4        5        6
2        7        8        9

In [84]:
# 通过series创建
s1 = pd.Series(['Alice', 'Bob', 'Jack'])
s2 = pd.Series([12, 23, 34])
s3 = pd.Series(['female', 'male', 'male'])
df = pd.DataFrame({'Name':s1, 'Age':s2, 'Gender':s3}) # 将series组成一个字典再进行构造
df

    Name  Age  Gender
0  Alice   12  female
1    Bob   23    male
2   Jack   34    male

In [108]:
# DataFrame 的属性和方法
print(df.shape)     # 形状
print(df.columns)   # 列名
print(df.index)     # 索引
print(df.head(2),"\n")    # 前2行数据，默认是前 5 行
print(df.tail(2),"\n")    # 后2行数据，默认是后 5 行
print(df.info(),"\n")    # 数据信息

print(df['Age'].describe(),"\n")# 描述统计信息
print(df['Age'].mean(),"\n")    # 求平均值
print(df['Age'].sum(),"\n")     # 求和

(3, 3)
Index(['Name', 'Age', 'Gender'], dtype='object')
RangeIndex(start=0, stop=3, step=1)
    Name  Age  Gender
0  Alice   12  female
1    Bob   23    male

   Name  Age Gender
1   Bob   23   male
2  Jack   34   male

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None

count     3.0
mean     23.0
std      11.0
min      12.0
25%      17.5
50%      23.0
75%      28.5
max      34.0
Name: Age, dtype: float64

23.0

69

In [134]:
#访问元素
print(df.Name)
print(df['Name'])
print(df.loc[:1,'Name']) # 根据名字取列
print(df.iloc[:,1]) # 根据索引取列
print(df.loc[0, 'Name'])

0    Alice
1      Bob
2     Jack
Name: Name, dtype: object
0    Alice
1      Bob
2     Jack
Name: Name, dtype: object
0    Alice
1      Bob
Name: Name, dtype: object
0    12
1    23
2    34
Name: Age, dtype: int64
Alice